<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2331A</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Icon library -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right">2331A</a>
                <ul class="left hide-on-med-and-down" id="nav-mobile">
                    <li class="active"><a href="/">Home</a></li class="active">
                    <li><a href="/music/">Music</a></li>
                    <li><a href="/pictures/">Pictures</a></li>
                    <li><a href="/videos/">Videos</a></li>
                    <li><a href="/docs/">Documents</a></li>
                    <li><a><i class="material-icons">search</i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</body>

</html>