<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pictures | 2331A</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Icon library -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Static stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/icon-bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/top-nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/content.css') }}">
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right">2331A</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/music">Music</a></li>
                    <li class="active"><a href="/pictures">Pictures</a></li>
                    <li><a><i class="material-icons">search</i></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="icon-bar">
        <ul>
            <li><a><i class="medium material-icons">arrow_back</i></a></li>
            {% for folder in dirs %}
            <li><a><i class="medium material-icons">folder</i>{{ folder }}</a></li>
            {% endfor %}
        </ul>
    </div>


    <div class="main">
        {% for img in files %}
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ url_for('send_imgs', filename=img) }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ img }}</span>
                        <a class="waves-effect waves-light btn"><i class="material-icons right">get_app</i>Download</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>