<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pictures | 2331A</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Icon library -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Static stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/icon-bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/top-nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/content.css') }}">
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right">2331A</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/music/">Music</a></li>
                    <li class="active"><a href="/pictures">Pictures</a></li>
                    <li><a href="/docs/">Documents</a></li>
                    <li><a><i class="material-icons">search</i></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="icon-bar">
        <ul>
            <li><a href="{{ url_for('find_parent_pictures', varargs=current) }}"><i class="material-icons">arrow_back</i></a></li>
            {% for folder in dirs %}
            <li><a href="{{ url_for('picture_folders', varargs=folder.url) }}"><i class="material-icons">folder</i><br>{{ folder.relative }}<a><li>
            {% endfor %}
        </ul>
    </div>

    <div class="container">
        <h5>Pictures/{{ current }}</h5>
        <p>{{ files|length }} images ({{ folder_size }}KB)</p>
        <div class="row">
            <div class="col s8">
                {% for img in files %}
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img materialboxed" src="{{ url_for('send_imgs', filename=current+img.name) }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ img.name }}</span>
                        <ul>
                            <li>Size: {{ img.size }}KB</li>
                            <li>Width: {{ img.width }}</li>
                            <li>Height: {{ img.height }} </li>
                            <li>Created: {{ img.ctime }}</li>
                        </ul>
                        <div class="row">
                            <a href="{{ url_for('send_imgs', filename=img.name) }}" download="{{ img.name }}"
                                class="waves-effect waves-light btn"><i
                                    class="material-icons right">get_app</i>Download</a>

                            <a href="{{ url_for('remove_file', root_folder='pictures') }}?filepath={{ current }}/{{ img.name }}&urlpath={{ url_for('picture_folders', varargs=current) }}"
                                class="waves-effect red btn"><i class="material-icons right">delete</i>Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="section col s4">
                <h5>Upload a file</h5>
                <form method="POST" enctype="multipart/form-data">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" name="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" class="validate" id="new-filename" name="filename">
                            <label for="new-filename">Filename</label>
                            <span class="helper-text">The file will be saved with this name</span>
                        </div>
                    </div>
                    <input class="waves-effect white btn" type="submit" value="Upload">
                </form>
                <br><br>
                <a href="{{ url_for('remove_file', root_folder='pictures') }}?filepath={{ current }}&urlpath={{ url_for('find_parent_pictures', varargs=current) }}" class="waves-effect red btn"><i class="material-icons right">delete</i>Delete this directory</a>

            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems);
        })
    </script>

</body>

</html>