<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Videos | 2331A</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Icon library -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right">2331A</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/music/">Music</a></li>
                    <li><a href="/pictures/">Pictures</a></li>
                    <li class="active"><a href="/videos/">Videos</a></li>
                    <li><a href="/docs/">Documents</a></li>
                    <li><a><i class="material-icons">search</i></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col s2">
            <div class="collection with-header">
                <h5 class="collection-header">Videos</h5>
                <a href="{{ url_for('find_parent_videos', varargs=current) }}" class="collection-item active">Go back</a>
                {% for folder in dirs %}
                <a href="{{ url_for('video_folders', varargs=folder.url) }}" class="collection-item">{{ folder.relative }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="col s6" id="main_col">
            <h5>Videos/{{ current }}</h5>
            <p>{{ files|length }} videos ({{ folder_size }}MB)</p>

            {% for video in files %}
            <div class="card">
                <video class="video_player" controls>
                    <source src="{{ url_for('send_video', filename=current+video.name) }}">
                </video>
                <div class="card-content">
                    <span class="card-title">{{ video.name }}</span>
                    <ul>
                        <li>Duration: {{ video.duration }}</li>
                        <li>Resolution: {{ video.resolution }}</li>
                        <li>Size: {{ video.size }}MB</li>
                        <li>Created: {{ video.ctime }}</li>
                    </ul>
                    <div class="row">
                        <a href="{{ url_for('send_video', filename=current+video.name) }}" download="{{ video.name }}" class="waves-effect waves-light btn"><i class="material-icons right">get_app</i>Download</a>

                        <a href="{{ url_for('remove_file', root_folder='videos') }}?filepath={{ current }}/{{ video.name}}&url_path={{ url_for('video_folders', varargs=current) }}" class="waves-effect red btn"><i class="material-icons right">delete</i>Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="section col s3">
            <h5>Upload a file</h5>
            <form method="POST" enctype="multipart/form-data">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    <div class="input-field col s12">
                        <input type="text" class="validate" id="new-filename" name="filename">
                        <label for="new-filename">Filename</label>
                        <span class="helper-text">The file will be saved with this name</span>
                    </div>
                </div>
                <input class="waves-effect white btn" type="submit" value="Upload">
            </form>
            <br><br>
            <a href="{{ url_for('remove_file', root_folder='videos') }}?filepath={{ current }}&urlpath={{ url_for('find_parent_videos', varargs=current) }}" class="waves-effect red btn"><i class="material-icons right">delete</i>Delete this directory</a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // var elems = document.querySelectorAll('.materialboxed');
            // var instances = M.Materialbox.init(elems);

            var main_col = document.getElementById('main_col');
            var w = main_col.offsetWidth - 20;

            var videos = document.getElementsByClassName('video_player');
            for (let index = 0; index < videos.length; index++) {
                const element = videos[index];
                element.setAttribute('width', w);
            }
        })
    </script>
</body>
</html>