.icon-bar {
    width: 100px; /* Set a specific width */
    position: fixed;
    background-color: darkcyan; /* Dark-grey background */
    margin-top: 5%;
  }
  
  .icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 17px; /* Increased font-size */
  }

  .icon-bar ul {
    align-self: center;
  }
  
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }